<hr class="soften">

<footer>
  <div class="row">
    <div class="span6">
      <h3>Contact</h3>
      <ul class="icons">
        <li><i class="icon-envelope"></i> Email: <a href="mailto:badong2210@yahoo.com">Shiela Buitizon</a></li>
        <li><i class="icon-linkedin"></i> Linkedin: <a target="_blank" href="http://www.linkedin.com/pub/shiela-buitizon/5a/321/b22">http://www.linkedin.com/pub/shiela-buitizon/5a/321/b22</a></li>
        <li><i class="icon-wrench"></i> Work: QA Automation Engineer @ <a target="_blank" href="http://www.novenix.net/about-us">Novenix</a></li>
      </ul>
      <h3>Contributor</h3>
      <ul class="icons">
        <li><i class="icon-envelope"></i> Email: <a href="mailto:alvinrdeleon@me.com">Alvin R. de Leon</a></li>
        <li><i class="icon-linkedin"></i> Linkedin: <a target="_blank" href="http://www.linkedin.com/in/alvinrdeleon">http://www.linkedin.com/in/alvinrdeleon</a></li>
      </ul>
    </div>
    <div class="span6">
      <h3>Special Thanks</h3>
      Special thanks to <a href="https://github.com/alvinrdeleon">@alvinrdeleon</a>, <a href="https://www.facebook.com/warren.herrera">@warren.herrera</a>, and <a href="https://www.facebook.com/bary.reyes">@bary.reyes</a> for design
      review, advice, and some help.
    </div>
  </div>
</footer>